
@{
    ViewBag.Title = "Index";
}
<body>

    <br /> <br />

</body>
<h1 style="text-align:center; color: black">NEW INSTRUMENTS</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary" style="color:#737170">
                <div class="panel-heading">Trumpet</div>
                <div class="panel-body" style="padding: 0">
                    <a href='@Url.Action("Create", "Clients", new { ID = 1 })'>
                        <img src="~/Content/images/BT2S_0512-min_1024x1024.jpg" class="img-responsive" style="width:100%" alt="Image">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary" style="overflow: hidden">
                <div class="panel-heading">Trombone</div>
                <div class="panel-body" style="padding: 0">
                    <a href='@Url.Action("Create", "Clients", new { ID = 2 })'>
                        <img src="~/Content/images/trombone.jpg" class="img-responsive" style="max-height: 100%; max-width: 100%" alt="Image">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Tuba</div>
                <div class="panel-body" style="padding: 0">
                    <a href='@Url.Action("Create", "Clients", new { ID = 3 })'>
                        <img src="~/Content/images/tuba.jpg" class="img-responsive" style="max-height: 100%; max-width: 100%" alt="Image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div><br>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Flute</div>
                <div class="panel-body" style="padding: 0">
                    <a href='@Url.Action("Create", "Clients", new { ID = 4 })'>
                        <img src="~/Content/images/flute.jpg" class="img-responsive" style="max-height: 100%; max-width: 100%" alt="Image">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Clarinet</div>
                <div class="panel-body" style="padding: 0">
                    <a href='@Url.Action("Rental", "Rentals", new { ID = 5 })'>
                        <img src="~/Content/images/calrinet.jpg" class="img-responsive" style="max-height: 100%; max-width: 100%" alt="Image">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Saxophone</div>
                <div class="panel-body" style="padding: 0">
                    <a href='@Url.Action("Create", "Clients", new { ID = 6 })'>
                        <img src="~/Content/images/sax.jpg" class="img-responsive" style="max-height: 100%; max-width: 100%" alt="Image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div><br><br>

<!--  USED INSTRUMENTS  -->

<h1 style="text-align:center; color: black">USED INSTRUMENTS</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary" style="color:#737170">
                <div class="panel-heading">Trumpet</div>
                <div class="panel-body" style="padding: 0">
                    <a href='@Url.Action("Create", "Clients", new { ID = 7 })'>
                        <img src="~/Content/images/BT2S_0512-min_1024x1024.jpg" class="img-responsive" style="width:100%" alt="Image">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary" style="overflow: hidden">
                <div class="panel-heading">Trombone</div>
                <div class="panel-body" style="padding: 0">
                    <a href='@Url.Action("Create", "Clients", new { ID = 8 })'>
                        <img src="~/Content/images/trombone.jpg" class="img-responsive" style="max-height: 100%; max-width: 100%" alt="Image">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Tuba</div>
                <div class="panel-body" style="padding: 0">
                    <a href='@Url.Action("Create", "Clients", new { ID = 9 })'>
                        <img src="~/Content/images/tuba.jpg" class="img-responsive" style="max-height: 100%; max-width: 100%" alt="Image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div><br>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Flute</div>
                <div class="panel-body" style="padding: 0">
                    <a href='@Url.Action("Create", "Clients", new {ID = 10 })'>
                        <img src="~/Content/images/flute.jpg" class="img-responsive" style="max-height: 100%; max-width: 100%" alt="Image">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Clarinet</div>
                <div class="panel-body" style="padding: 0">
                    <a href='@Url.Action("Create", "Clients", new{ ID = 11 })'>
                        <img src="~/Content/images/calrinet.jpg" class="img-responsive" style="max-height: 100%; max-width: 100%" alt="Image">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Saxophone</div>
                <div class="panel-body" style="padding: 0">
                    <a href='@Url.Action("Create", "Clients", new { ID = 12 })'>
                        <img src="~/Content/images/sax.jpg" class="img-responsive" style="max-height: 100%; max-width: 100%" alt="Image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div><br><br>